html {
  box-sizing: border-box; }
  html body {
    margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 {
  font-size: 1em; }

h2 {
  font-size: 1em; }

p {
  font-size: 0.5em; }

header {
  background: url("../images/image1.jpg") no-repeat center fixed;
  background-size: cover;
  height: 37em;
  color: white; }
  header .header-content {
    max-width: 50%;
    float: right;
    margin-top: 15em; }

.second-section img {
  width: 75%; }

.Shape {
  border-width: 2px;
  border-color: #002b49;
  border-style: solid;
  position: absolute;
  left: 163px;
  top: 1122px;
  width: 118px;
  height: 294px;
  z-index: 24; }
