html {
  box-sizing: border-box; }
  html body {
    margin: 0; }
    html body .grid {
      position: relative; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #103b58;
  font-family: "Karla", sans-serif; }
  body .section-section, body footer {
    text-align: center; }

h1, h2, h3 {
  font-weight: 400; }

.bold {
  font-weight: 700; }

h2, h3 {
  text-align: center; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 0.9em; }

h3 {
  font-size: 0.7em; }

ul, p {
  font-size: 0.5em; }

@media screen and (min-width: 450px) {
  h3 {
    font-size: 1em; }
  ul {
    font-size: 0.8em; } }

@media screen and (min-width: 550px) {
  h1 {
    font-size: 1.4em; } }

@media screen and (min-width: 750px) {
  h1 {
    font-size: 1.7em; }
  #second-section h2 {
    font-size: 1.2em; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2em; }
  ul {
    font-size: 1em; }
  p {
    font-size: 0.7em; } }

header {
  position: relative;
  color: white; }
  header .bg-container {
    position: relative !important;
    background: url("../images/image1.jpg") no-repeat;
    background-position: 100%;
    background-size: 100% 200%;
    width: 100%;
    min-height: 100%; }
  header .tint:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(56, 48, 23, 0.6), rgba(20, 26, 105, 0.82)); }
  header .header-content, header .arrow-container {
    z-index: 999; }
  header .header-content {
    position: relative;
    max-width: 58%;
    float: right;
    margin: 0 1em; }

@media screen and (min-width: 300px) {
  header .header-content {
    max-width: 50%; } }

@media screen and (min-width: 550px) {
  header .header-content {
    max-width: 39%; } }

@media screen and (min-width: 750px) {
  header .header-content {
    max-width: 35%; } }

@media screen and (min-width: 1024px) {
  header .header-content {
    max-width: 28%; } }

nav {
  box-shadow: 2px 1px 2px 0px #ccc;
  height: 2em; }
  nav h2 {
    display: inline-block;
    margin: 0; }
  nav h2, nav span {
    padding: 0.5em 1em; }
  nav .fa {
    float: right; }

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999; }

#second-section {
  margin: 3em 0; }
  #second-section img {
    width: 75%;
    display: block;
    margin: 0 auto; }

@media screen and (min-width: 550px) {
  #second-section {
    margin: 5em 0; } }

@media screen and (min-width: 1024px) {
  #second-section {
    margin: 8em 0; } }

footer {
  padding: 1em;
  background-color: #103b58;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(20, 26, 105, 0.82)), no-repeat center center fixed;
  background-size: cover; }
  footer h3, footer a {
    color: white; }
  footer a {
    transition: 500ms linear all;
    padding: 0 2em; }
  footer a:hover {
    color: #ada6a6; }
  footer #footer-links {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none; }
    footer #footer-links li {
      display: inline-block;
      margin: 1em 0; }

button {
  background-color: transparent;
  display: inline-block;
  margin-top: 0.5em;
  font-size: 0.1em;
  color: white;
  border: 1.8px solid white;
  padding: 0.7em;
  transition: 500ms linear all; }

button:hover {
  background-color: white;
  color: black; }

@media screen and (min-width: 450px) {
  button {
    font-size: 0.6em;
    padding: 0.7em 2em; } }

@media screen and (min-width: 750px) {
  button {
    font-size: 0.6em;
    padding: 1.2em 2.5em; } }

.line1 {
  width: 79%;
  height: 25%;
  border-left: 1px solid #103b58;
  transform: translateY(43%) translateX(8%) rotate(-19deg);
  transform-origin: 0% 0%;
  position: absolute;
  z-index: 999; }

.line2 {
  width: 79%;
  height: 25%;
  border-right: 1px solid #103b58;
  transform: translateY(43%) translateX(8%) rotate(-19deg);
  transform-origin: 0% 0%;
  position: absolute;
  z-index: 999; }

.arrow-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.2em; }
  .arrow-container .scroll-arrow {
    color: white;
    cursor: pointer;
    transition: 500ms linear all; }
  .arrow-container .scroll-arrow:hover {
    font-size: 2em;
    font-weight: bold; }

@media screen and (min-width: 750px) {
  .arrow-container .scroll-arrow {
    font-size: 1.5em; } }
