button {
	background-color: transparent;
	display: inline-block;
	margin-top: 0.5em;
	font-size: 0.1em;
	color: white;
	border: 1.8px solid white;
	padding: 0.7em;
	transition: 500ms linear all;
}

button:hover {
	background-color: white;
	color: black;
}

@media screen and ($mobile0_5){
	button {
		font-size: 0.6em;
		padding: 0.7em 2em;
	}
}

@media screen and ($tablet1){
	button {
		font-size: 0.6em;
		padding: 1.2em 2.5em;
	}
}