header {
	position: relative;
	background: linear-gradient(rgba(56, 48, 23, 0.6), rgba(20, 26, 105, 0.82)), url("../images/image1.jpg") no-repeat center center fixed;
	// background: linear-gradient(rgba(56, 48, 23, 0.6), rgba(20, 26, 105, 0.82)) no-repeat center center fixed;
	background-size: cover;
	// height: 37em;
	color: white;
	.header-content {
		max-width: 58%;
		float: right;
		margin: 0 1em;
	}
}

@media screen and ($mobile0){
	header {
		.header-content {
			max-width: 50%;
			// float: right;
			// margin-top: 15em;
		}
	}
}

@media screen and ($mobile1){
	header {
		.header-content {
			max-width: 39%;
		}
	}
}

@media screen and ($tablet1){
	header {
		.header-content {
			max-width: 35%;
		}
	}
}

@media screen and ($desktop){
	header {
		.header-content {
			max-width: 28%;
		}
	}
}




