nav {
	box-shadow: 2px 1px 2px 0px #ccc;
	h2 {
		display: inline-block;
		margin: 0;
	}
	h2, span {
		padding: 0.5em 1em;

	}

	.fa {
		float: right;
	}
}

.fixed {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	background-color: white;
	z-index: 9999;
}

// .fixed-bottom {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	height: 2em;
// 	background-color: white;
// }