#second-section {
	margin: 3em 0;
	img {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
}

@media screen and ('min-width: 550px'){
	#second-section {
		margin: 5em 0;
	}
}

@media screen and ('min-width: 1024px'){
	#second-section {
		margin: 8em 0;
	}
}