.line1 {
	width: 79%;
    height: 25%;
    border-left: 1px solid #103b58;
    transform:
        translateY(43%)
        translateX(8%)
        rotate(-19deg); 
    transform-origin: 0% 0%;
    position: absolute;
    z-index: 999;
}

.line2 {
	width: 79%;
    height: 25%;
    border-right: 1px solid #103b58;
    transform:
        translateY(43%)
        translateX(8%)
        rotate(-19deg); 
    transform-origin: 0% 0%;
    position: absolute;
    z-index: 999;
}

.arrow-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0.2em;
	.scroll-arrow {
		color: white;
		cursor: pointer;
		transition: 500ms linear all;
	}
	.scroll-arrow:hover {
		font-size: 2em;
		font-weight: bold;
	}
}

@media screen and ($tablet1){
	.arrow-container {
		.scroll-arrow {
			font-size: 1.5em;
		}
	}
}


