.Shape {
  border-width: 2px;
  border-color: rgb(0, 43, 73);
  border-style: solid;
  position: absolute;
  //Adjust to point on page
  left: 163px;
  top: 1122px;
  width: 118px;
  height: 294px;
  z-index: 24;
}