body {
	color: #103b58;
	font-family: "Karla", sans-serif;
	.section-section, footer {
		text-align: center;
	}
}

h1, h2, h3 {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

h2, h3 {
	text-align: center;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 0.9em;
}

h3 {
	font-size: 0.7em;
}

ul, p {
	font-size: 0.5em;
}

